html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'LimeGreen';
  src: url('/public/assets/fonts/MintsodaLimeGreen13X16Regular.ttf');
}

body {
  background-color: blueviolet;
  color: white;
  overflow: hidden;
  font-family: 'LimeGreen', sans-serif;
}

a {
  color: white;
}

.topLeft {
  top: 0;
  left: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

.fillAndExpand {
  min-width: 100%;
  min-height: 100%;
}

.positionAbsolute {
  position: absolute;
}

.layer1 {
  z-index: 1;
}

.colorWhite {
  color: white;
}

.displayBlock {
  display: block;
}

.canvasShrinkwrap {
  --size: min(100vw, 100vh);
  --canvasPixelSize: calc(var(--size) / 1024);
  width: var(--size);
  height: min(100vw, 100vh);
  margin: 0 auto;
  position: relative;

  /* The canvas's native resolution is 1024x1024 and we're using a pixel font
   * so we want the simulated pixels in the font to match the pixels on the canvas.
   * Setting the font size accordingly.
   */

  font-size: calc(var(--canvasPixelSize) * 24);

  text-shadow: calc(var(--canvasPixelSize) * 2) calc(var(--canvasPixelSize) * 2) rgba(0, 0, 0, 0.75);
}

#signInForm {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}


#devLog {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

